@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("background.png") center;
  font-family: "Patrick Hand", cursive;
}
